[worldserver]

#################################
#
# Enable utility features (Character Services)
# This includes name change, character customization, race change and faction change
# The cost is set in number of items (Fragment of Northrend - ID: 60100)
# It is free if cost is set to 0
#

Assistant.Utilities.Enabled            = 1
Assistant.Utilities.NameChange.Cost    = 1
Assistant.Utilities.Customize.Cost     = 2
Assistant.Utilities.RaceChange.Cost    = 5
Assistant.Utilities.FactionChange.Cost = 10

#################################